<!DOCTYPE html>
<html ng-app="GeoLocationApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GeoLocation Websites</title>
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <style>
        .geolocation-conteudo {
            background-color: #EEE;
            padding: 20px 20px 10px 20px;
            margin-top: 30px;
        }
    </style>
</head>

<body ng-controller="GeolocationController">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-20">
                <div class="geolocation-conteudo">
                    <h1>Geolocation</h1>
                    <div class="form-group">
                        <label for="nome">URL*</label>
                        <input type="text" class="form-control" ng-model="$scope.url" id="endereco" type="url" placeholder="website" maxlength="200"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="getLocation($scope.url)">Locate</button>
                    <button type="submit" class="btn btn-primary" ng-click="getMyLocation()">My location</button>
                    <button type="submit" class="btn btn-primary" ng-click="resetMyLocation()">Reset my location</button>
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 id="title">My location</h1>
                            <TABLE BORDER="1">
                                <TR>
                                    <TH> My ip </TH>
                                    <TH> {{mylocation.myip}} </TH>
                                </TR>
                                <TR>
                                    <TH> City </TH>
                                    <TD> {{mylocation.city}} </TD>
                                </TR>
                                <TR>
                                    <TH> Country code </TH>
                                    <TD> {{mylocation.country_code}} </TD>
                                </TR>
                                <TR>
                                    <TH> Country name </TH>
                                    <TD> {{mylocation.country_name}} </TD>
                                </TR>
                                <TR>
                                    <TH> Latitude </TH>
                                    <TD> {{mylocation.latitude}} </TD>
                                </TR>
                                <TR>
                                    <TH> Longitude </TH>
                                    <TD> {{mylocation.longitude}} </TD>
                                </TR>
                                <TR>
                                    <TH> Metro code </TH>
                                    <TD> {{mylocation.metro_code}} </TD>
                                </TR>
                                <TR>
                                    <TH> Region code </TH>
                                    <TD> {{mylocation.region_code}} </TD>
                                </TR>
                                <TR>
                                    <TH> Region name </TH>
                                    <TD> {{mylocation.region_name}} </TD>
                                </TR>
                                <TR>
                                    <TH> Time zone </TH>
                                    <TD> {{mylocation.time_zone}} </TD>
                                </TR>
                                <TR>
                                    <TH> Zip code </TH>
                                    <TD> {{mylocation.zip_code}} </TD>
                                </TR>
                            </TABLE>
                        </div>
                        <div class="col-sm-6">
                            <h1 id="title">URL location</h1>
                            <TABLE BORDER="1">
                                <TR>
                                    <TH> Ip </TH>
                                    <TH> {{urllocation.ip}} </TH>
                                </TR>
                                <TR>
                                    <TH> Time zone </TH>
                                    <TD> {{urllocation.time_zone}} </TD>
                                </TR>
                                <TR>
                                    <TH> City </TH>
                                    <TD> {{urllocation.city}} </TD>
                                </TR>
                                <TR>
                                    <TH> Country code </TH>
                                    <TD> {{urllocation.country_code}} </TD>
                                </TR>
                                <TR>
                                    <TH> Country name </TH>
                                    <TD> {{urllocation.country_name}} </TD>
                                </TR>
                                <TR>
                                    <TH> Latitude </TH>
                                    <TD> {{urllocation.latitude}} </TD>
                                </TR>
                                <TR>
                                    <TH> Longitude </TH>
                                    <TD> {{urllocation.longitude}} </TD>
                                </TR>
                                <TR>
                                    <TH> Metro code </TH>
                                    <TD> {{urllocation.metro_code}} </TD>
                                </TR>
                                <TR>
                                    <TH> Region code </TH>
                                    <TD> {{urllocation.region_code}} </TD>
                                </TR>
                                <TR>
                                    <TH> Region name </TH>
                                    <TD> {{urllocation.region_name}} </TD>
                                </TR>
                                <TR>
                                    <TH> Zip code </TH>
                                    <TD> {{urllocation.zip_code}} </TD>
                                </TR>
                            </TABLE>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <script src="node_modules\angular\angular.js"></script>
    <script src="js\app.js"></script>
    <script src="js\controller.js"></script>

</body>

</html>